@font-face {
  font-family: 'NotoSansGeorgian';
  src: url('assets/static/NotoSansGeorgian-Black.ttf');

}

@font-face {
  font-family: 'NotoSansGeorgian-regular';
  src: url('assets/static/NotoSansGeorgian-Regular.ttf');
}


@font-face {
  font-family: 'NotoSansGeorgian-Bold';
  src: url('assets/static/NotoSansGeorgian-Bold.ttf');
}

@font-face {
  font-family: 'NotoSansGeorgian-Light';
  src: url('assets/static/NotoSansGeorgian-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



  /****************** header styling ********************/

header {
    height: 84px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E4E3EB;
    background: rgb(26, 30, 31);
    align-items: center;
    width: 100%;
  
} 

/* .headerMainDiv {
  display: flex;
  width: 59%;
  align-items: center;

} */

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 59%; 
    
}
.headerImg {
    width: 60px;
    height: 62px;
    cursor: pointer;
}

.logoAc span {
    cursor: pointer;
    font-family: 'NotoSansGeorgian-Bold';
    color: #F4F4F4;
    font-size: 20px;
    margin-top: 5px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 15px;

}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'NotoSansGeorgian-Light';
} 


  nav :nth-child(3) {
    color: #00A3E0; 
  }
  
  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(26, 30, 31, 0.9); /* Adjust the alpha value to control the transparency */
    z-index: 1000; /* Ensure the header is on top of other elements */
    transition: background 0.3s ease; /* Add a smooth transition effect */
}

.closeBtn {
  display: none; 
}

.hamburger {
  display: none;
}

.logoAc {
  display: flex;
  align-items: center;  
}
  /****************** main styling ********************/


  main {
    height: 352px;
    background-image: url('/assets/images/mainCover.webp');
    object-fit: cover;
    /* background-repeat: no-repeat;     */
    margin-top: -1px;
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .titleDiv {
    width: 59%;
    display: flex;

    display: flex;
    align-items: center;
    
  }

  .title h1{
    color: #F4F4F4;
    font-size: 42px;
    font-family: 'NotoSansGeorgian';
  }

  /****************** description styling ********************/
 
  .descDiv {
    min-height: 465px;
    width: 100%;
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

   .desc {
    width: 59%;
    
  } 

  .desc h1 {
    color: #F4F4F4;
    font-size: 28px;
    font-family: 'NotoSansGeorgian-regular';
    line-height: 1.6em;
   

  }

  .learnMore h1 {
    margin-top: 75px;
    font-size: 24px;
    color: #00A3E0; 
    cursor: pointer;
  }

  .learnMore h1:hover {
    color: #F4F4F4;
    transition: 0.5s;
  }



 /****************** cards styling ********************/


 .coursesDiv {
    width: 100%;
    min-height: auto;
    justify-content: center;
    display: flex;
    background-color: #161616;
 }

 .trainingCourses {
    width: 59%;
    margin-top: 40px;
    margin-bottom: 70px;
    
 }

 .trainingCourses h1 {
    color: #F4F4F4;
    font-size: 24px;
    font-family: 'NotoSansGeorgian-Regular';
 }

 .cardsDiv {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #161616;
 }

 .allCards {
    width: 59%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    margin-bottom: 57px;
 }

 .singleCard {
    border: 0.5px solid #555555;
    border-radius: 7px;
    min-height: 415px;  
    width: 30.5%;
 }

 .singleCard img {
    width: 100%;
    /* width: 300px; */
    min-height: 150px;
    border-radius: 7px;  
 }

 .cardBody {
    padding: 40px 24px;
 }

 .cardTitle {
    color: #F4F4F4;
    font-family: 'NotoSansGeorgian-regular';
    font-size: 18px;
 }

 .cardText {
    color: #F4F4F4;
    font-family: 'NotoSansGeorgian-regular';
    font-size: 14px;
    margin-top: 30px;

 }

 .courseDetails {
    text-decoration: none;
    color: #00A3E0;
    margin-top: -9px;
 }

.arrowDetails {
  display: flex;
  align-items: center;
  font-family: 'NotoSansGeorgian-regular';
  font-size: 16px;
  margin-top: 95px;
  gap: 10px;
  cursor: pointer;
}



 /* CAROUSEl************************** */
 .carousel-container {
  width: 100%;
  min-height: 365px;
  background-color: #2B2B2B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.ppWords {
  width: 59%;
  display: flex;
  justify-content: start;
  margin-bottom: 270px;  
  font-size: 24px;
  color: #F4F4F4;
  font-family: 'NotoSansGeorgian-regular';
}

.test {
  width: 59%;
  height: 70px;
  object-fit: cover;
  margin-right: 145px; 
}
 .test-slide {
  width: 59%;
  height: 100%;
  display: flex; 
  justify-content: center;
  position: absolute;
  transition: opacity 0.5s ease-in;
  opacity: 0;
  margin-bottom: 10px; 
}

.test-slide.active {
  opacity: 1;
}
.imgs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}
.forImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}


.forUFC {
  display: flex;
  justify-content: center;
  width: 227px;
  height: 64px;
}
.ufcDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.indicators {
  position: absolute;
  bottom: 105px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
}

.indicator {
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color: #E8E6E6;
  border-radius: 50%;
  cursor: pointer;


}

.indicator.active {
  background-color: #E8E6E6;
}


.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background: none;
    color: #F4F4F4;
    border: none;
    border-radius: 5px;
    
   
}

.prev-btn img,
.next-btn img {
    width: 54px; 
    height: 54px;
    filter: invert(100%);
}


.prev-btn {
    left: 100px;
    
}

.next-btn {
    right: 100px;
}

.lising {
  width: 312px;
  height: 95px;
}

.space {
  width: 241px;
  height: 80px;
}

.tineti {
  width: 250px;
  height: 45px;
}




/* FAQ ********************** */


section
{
  min-height: 100vh;
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  width: 100%;
  min-height: 485px;
}

.title2 {
  margin: 2rem 0;
  font-size: 24px;
  color: #F4F4F4;
  font-family: 'NotoSansGeorgian-regular';
}

.faq
{
  /* max-width: 700px; */
  /* min-height: 50px; */
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #353131;
  cursor: pointer;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3
{
  font-size: 18px;
  margin-bottom: 14px;
  font-family: 'NotoSansGeorgian-light';
}

.question svg {
  margin-right: 7px;
  margin-bottom: 14px;
}

.answer
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.answer p
{
 color:#F4F4F4;
 font-size: 14px;
 font-family: 'NotoSansGeorgian-light';
}

.faq.active .answer
{
  max-height: 300px;
}

.stages {
  color:#F4F4F4;
  font-size: 14px;
  font-family: 'NotoSansGeorgian-light';
  margin-left: 13px;
}





.faqDiv {
  width: 54%;
}

.faqTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -15px;
}


.allQues {
  font-size: 20px;
  color: #00A3E0; 
  font-family: 'NotoSansGeorgian-regular';
}

.question {
  color: #F4F4F4;
  
}


footer {
  min-height: 228px;
  background-color: #1A1E1F;
}

.tbcAndMedia {
  display: flex;
  justify-content: center;
}

.tbcAndFb {
  display: flex;
  justify-content: space-between;
  width: 59%;
  margin-top: 64px;
}

.tbcAndFb img {
  height: 30px;
}


.fbAndYt {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.fbAndYt img {
  width: 39px;
  height: 39px;
}

.allRights {
  color: #F4F4F4;
  display: flex;
  justify-content: center;
  font-family: 'NotoSansGeorgian-regular';
  font-size: 14px;
}

.c {
  display: flex; 
  width: 59%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.allRights .spanC {
  vertical-align: super;
  font-size: x-small;  
  margin-top: 3px; 
  margin-right: 3px;
}

.allRights .spanRights {
  margin-left: 5px;
  
}

.rulesAndButton {
  display: flex;
  justify-content: center;
}
.rules {
  display: flex;
  justify-content: space-between;
  width: 59%;
  color: #F4F4F4;
  font-family: 'NotoSansGeorgian-regular';
  font-size: 14px;
}

.rules button {
  background-color: #01AEF3;
  border: none;
  padding: 8px 34px;
  border-radius: 6px;
  color: #F4F4F4;
  align-items: center;
  margin-top: -10px;
  font-family: 'NotoSansGeorgian-regular';
  font-size: 14px;

}

.rules button:hover {
  background-color: #F4F4F4;
  color: #161616;
  transition: 0.5s;
  cursor: pointer;
}





























































@media screen and (min-width: 374px) and (max-width: 767px) {

  
  header {
    height: auto;
    display: flex;
  }

  .headerDiv {
    /* flex-direction: column; */
    width: 100%;
    padding: 5px 10px;
  }

  .headerImg {
    margin-bottom: 10px;
  }

  nav {
    display: none; /* Hide the nav by default */
    flex-direction: column;
    align-items: flex-end;
  }

  nav a {
    margin: 5px 0;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(26, 30, 31, 0.9);
    transition: background 0.3s ease;
  }

  /* Style for the hamburger icon button */
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
  }

  .line {
    height: 4px;
    width: 30px;
    background-color: #fff;
    margin: 6px 0;
  }
 
  

  .logoAc {
    display: flex;
    align-items: center;
  }

  .logoAc span {
    margin-top: -4px;
  }

  .navContainer {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(51, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    transition: right 0.3s ease;
  }

  .closeBtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    filter: invert(50%);
  }

  #mobileNav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #mobileNav a {
    color: #fff;
    text-decoration: none;
    font-family: 'NotoSansGeorgian-Light';
  }

  /* Additional styles for the hamburger icon button */
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
  }

  .line {
    height: 4px;
    width: 30px;
    background-color: #fff;
    margin: 6px 0;
  }

  #mobileNav :nth-child(3) {
    color: #00A3E0; 
  }

  main {
    height: 265px;
   
  }
  .titleDiv {
    width: 90%;
  }

  .title h1 {
    font-size: 30px;
  }

  .desc {
    width: 90%;
  }

  .desc h1 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  .trainingCourses {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .allCards {
    flex-direction: column;
    width: 90%;
  }

  .singleCard {
    width: 100%;
    min-height: 320px;
  }

  .arrowDetails {
    margin-top: 28px;
  }

  .cardBody {
    padding: 24px;
  }

  
.prev-btn,
.next-btn{
  display: none;
}

.ppWords {
  width: 90%;
}

.imgs {
  flex-direction: column;
  height: 150px;
  row-gap: 10px;
}

.test {
  margin-right: 0;
  /* height: 0; */
}

.indicators {
  bottom: 15px;
}

.faqDiv {
  width: 90%;
}

.allQues {
  font-size: 14px;
}

.tbcAndFb {
  width: 90%;
}

.c {
  width: 90%;
}

.rules {
  width: 90%;
}
.rules button {
  margin-top: -5px;
}

}









  @media only screen and (min-width: 768px) and (max-width: 1023px) { 

    .imgs {
      display: flex;
      flex-direction: row;
    }
    .headerDiv {
      width: 98%;
    }
    .title h1 {
      font-size: 30px;
    }
    .titleDiv {
      width: 98%;
    }

    .desc {
      width: 98%;
    }

    .desc h1 {
      font-size: 23px;
    }
     
    .test {
      margin-right: 25px; 
    }
     /*  */
    .tegeta {
      margin-left: -160px;
    }

    .usaid {
      margin-left: -160px;
    }

    /* .tineti {
      width: 150px;
      height: 50PX;
    } */
    .closeBtn {
      display: none;
      filter: invert(50%);
    }
    .trainingCourses {
      width: 98%;
      margin-top: 40px;
      margin-bottom: 35px;
    }
  
    .allCards {
      /* flex-direction: column; */
      width: 98%;
    }

    .ppWords {
      width: 98%;
    }
    /* .forImages {
      width: 90%;
    }
    .imgs {
      
    } */

    .faqDiv {
      width: 98%;
    }
    
    .tbcAndFb {
      width: 98%;
    }
    
    .c {
      width: 98%;
    }
    
    .rules {
      width: 98%;
    }
  }


 