* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  
  /****************** header styling ********************/

header {
    height: 84px;
   
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E4E3EB;
    background: rgb(26, 30, 31);
    align-items: center;
    width: 100%;
} 
.headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 59%;
}
.headerImg {
    width: 60px;
    height: 62px;
    cursor: pointer;
}

.logoAc span {
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .logo {
    font-size: 1.8rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: lightblue;
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .nav__link a:hover {
    color: #00A3E0;
    transition: 0.5s;
  }
  
  .hide {
    display: none;
  } 

  .nav__link :nth-child(3) {
    color: #00A3E0; 
  }
  

  /****************** main styling ********************/


  main {
    height: 352px;
    background-image: url('/assets/images/mainCover.webp');
    object-fit: cover;
    /* background-repeat: no-repeat;     */
    margin-top: -1px;
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .titleDiv {
    width: 59%;
    display: flex;

    display: flex;
    align-items: center;
    
  }

  .title h1{
    color: #F4F4F4;
    font-size: 42px;
  }

  /****************** description styling ********************/
 
  .descDiv {
    height: 465px;
    width: 100%;
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

   .desc {
    width: 59%;
    
  } 

  .desc h1 {
    color: #F4F4F4;
    font-size: 28px;

  }

  .learnMore h1 {
    margin-top: 75px;
    font-size: 24px;
    color: #00A3E0; 
    cursor: pointer;
  }

  .learnMore h1:hover {
    color: #F4F4F4;
    transition: 0.5s;
  }



 /****************** cards styling ********************/


 .coursesDiv {
    width: 100%;
    min-height: auto;
    justify-content: center;
    display: flex;
    background-color: #161616;
 }

 .trainingCourses {
    width: 59%;
    margin-top: 40px;
    margin-bottom: 70px;
    
 }

 .trainingCourses h1 {
    color: #F4F4F4;
    font-size: 24px;
 }

 .cardsDiv {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #161616;
 }

 .allCards {
    width: 59%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
 }

 .singleCard {
    border: 0.5px solid #555555;
    border-radius: 7px;
    height: 415px;  
    width: 30.5%;
 }

 .singleCard img {
    width: 100%;
    /* width: 300px; */
    height: 150px;
    border-radius: 7px;  
 }

 .cardBody {
    padding: 40px 24px;
 }

 .cardTitle {
    color: #F4F4F4;
 }

 .cardText {
    color: #F4F4F4;
 }

 .courseDetails {
    text-decoration: none;
    color: #00A3E0;
 }

 .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    list-style: none;
    padding: 0;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
  }

  .carousel-indicators .active {
    background-color: #333;
  }



  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .sponsors {
    text-align: center;
    display: flex; 
    gap: 30px;
   
  }

  .sponsors img {
    max-width: 100%;
    height: 71px;
    
  }

  .carousel-inner {
       height: 365px;
       background-color: #2B2B2B;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
    }

    .carousel-item .ufc {
        /* width: 100%; */
        height: 71px;
    }

     /*  .carousel-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

  


.sponsors {
    display: flex;
    gap: 30px;
    width: 59%;
}

.sponsors img {
    width: 100%;
    height: auto;
} */














  @media screen and (min-width: 767px) {

    /* .logoAc span{
        display: none;
    } */

    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }

   
  }


  .logoAc {
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }


  /* @media screen and (min-width: 767px) {} */